/* Presentation classes */
#codeslides section {
    height: 1px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
}

#codeslides section.current {
    height:auto;
    opacity: 1;
    padding-bottom: 40px;
}

#codeslides section .example {
    display:block;
    transform-origin:center left;
    transition: .66s ease-in-out;
}

#codeslides section .example.current {
    background-color: #002b36;
    color: #839496;
    padding: 10px;
    transform: scale(1.5);
}

/* Make stuff look nicer */

body {
    background-color: #fdf6e3;
    color: #586e75;
    padding:15px 20px 0 20px;
}

h2.filename {
	margin: 0 0 20px 0;
	font-family: "League Gothic", Impact, sans-serif;
	font-weight: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: uppercase;
	text-shadow: none;
	word-wrap: break-word;
}

code {
    font-size: 140%;
}
