doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		script(src='js/codeslide.js')
		link(rel='stylesheet' href='css/codeslide.css')
		block title
			title Introduction to Ansible - Code examples

	body
		#codeslides
			each  name in [ 'dotfiles/all_dotfiles.yml', 'dotfiles/all_dotfiles_local.yml', 'lamp/lamp.yml', 'lamp/create_vhost.yml', 'lamp/templates/vhost.j2' ]
				section
					h2.filename= name
					pre
						code
							each part in files[name].parts
								span(class= part.section ? 'example' : '')= part.code
