doctype html
html
	head
		link(rel='stylesheet', href='css/reveal.css')
		link(rel='stylesheet', href='css/theme/solarized.css')
		block title
			title Introduction to Ansible
  
	body
		.reveal
			.slides
				block content
		script(src='js/reveal.js')
		script.
			Reveal.initialize( { history: true } );
